portfolio_project
200 DevOps Interview Questions and Answers.pdf
Cloud.pdf
Complete python in simple way.pdf
DevOps Dictionary.pdf
DevOps Roadmap with Resources!.pdf
Django Notes .pdf
Git .pdf
GITHUB_NOTES.pdf
OOP''S concept ✨️ .pdf
pythonlearn.pdf  
Top 50 Linux commands for DevOps.pdf
UI Technologies.pdf
DevOps Interview Questions & Answers.pdf
DevOps.pdf
.gitignore