*{

    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
}
body{
    margin:10px;
    padding: 10px;
    background-color: azure;
    border-radius: 25px;
}

.container{
    display: flex;
    align-items: center;
    justify-content: center;
}